.productDisplay {
    display: flex;
    margin: 0 170px;
}

.productDisplay-left {
    display: flex;
    gap: 17px;
}

.productDiplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productDiplay-img-list img {
    height: 163px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;

}

.productDisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productDisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.propduct-display-right-stars {
    display: flex;
    align-content: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.product-display-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 30px;
    font-weight: 700;
}

.old-price {
    color: #818181;
    text-decoration: line-through;
}

.new-price {
    color: #ff4141;
}

.productDiplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productDiplay-right-size {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}


.productDiplay-right-size div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.btn {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #FF4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.preoductDiaplay-right-category {
    margin-top: 10px;
}

.preoductDiaplay-right-category span {
    font-weight: 600;

}


@media(max-width:1280px){
    .productDisplay{
        margin: 0px 60px;
    }

    .productDisplay-left{
        gap: 10px;
    }

    .productDiplay-img-list{
        gap: 10px;
    }
    .productDiplay-img-list img{
        height: 120px;
    }

    .productdisplay-main-img {
        width: auto;
        height: 510px;
    }

    .productDisplay-right{
        margin: 0px 30px;
    }

    .productDisplay-right h1{
        font-size: 22px;
    }

    .propduct-display-right-stars{
        gap: 3px;
        font-size: 13px;
    }

    .product-display-right-prices{
        padding: 10px 0px;
        font-size: 18px;
    }

    .productdisplay-right-des{
        font-size: 13px;
    }

    .productDiplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }

    .productDiplay-right-size div{
        padding: 14px 20px;
    }

    .productDisplay-right button{
        width: 150px;
        padding: 15px 0px;
        font-size: 20px;
    }

    .preoductDiaplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }


}




@media(max-width: 1040px){
    .productDisplay{
        margin: 0px 60px;
    }

    .productDisplay-left{
        gap: 5px;
    }

  
    .productDiplay-img-list img{
        height: 80px;
    }

    .productdisplay-main-img {
        height: 350px;
    }

    .productDisplay-right{
        margin: 0px 30px;
    }

    .productDisplay-right h1{
        font-size: 18px;
    }

    .propduct-display-right-stars img{
        width: 15px;
    }


    .productdisplay-right-des{
        font-size: 12px;
    }
    .productDiplay-right-size{
        margin-top: 10px 16px;
     
    }
    .productDiplay-right-size div{
        padding: 14px 20px;
        font-size: 12px;
    }

    .productDisplay-right button{
        width: 120px;
        padding: 10px 0px;
        margin-bottom: 10px;
        font-size: 10px;
    }

    .preoductDiaplay-right-category{
        font-size: 12px;
    }


}


@media(max-width: 800px){
    .productDisplay{
        margin: 0px 10px;
    }

    .productDisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }

  .productDiplay-img-list{
    flex-direction: row;
  } 
    .productDiplay-img-list img{
        height: 70px;
    }

    .productdisplay-main-img {
        height: 300px;
    }

    .productDisplay-right{
        margin: 0px 30px;
    }

    .productDisplay-right h1{
        font-size: 14px;
    }

    .propduct-display-right-stars img{
        width: 12px;
    }


    .productdisplay-right-des{
        font-size: 10px;
    }

    .productDiplay-right-size h1{
        margin-top: 10px;
    }
    .productDiplay-right-size{
        margin-top: 10px;
        gap: 5px;
     
    }
    .productDiplay-right-size div{
        padding: 4px 11px;
        /* font-size: 12px; */
    }

    .productDisplay-right button{
        width: 100px;
       font-size: 12px;
    }

    .preoductDiaplay-right-category{
        font-size: 10px;
    }


}



@media(max-width: 500px){
    .productDisplay{
        flex-direction: column;
    }

    .productDisplay-left{
        flex-direction: row;
        margin: auto;
        gap: 10px;
    }

    .productDiplay-img-list{
        flex-direction: column;
        gap: 8px;
    }

    .productDiplay-img-list img{
        height: 75px;
    }

    .productdisplay-main-img{
        height: 330px;
    }

    .productDisplay-right h1{
        margin-top: 15px;
        font-size: 20px;
        font-weight: 500;
     }

    .propduct-display-right-stars img{
            width: 15px;
    }

    .productDiplay-right-size {
        gap: 15px;
        margin: 20px 0px;
    }

    .productDiplay-right-size div{
        padding: 10px 16px;
        font-size: 14px;
    }

    .productDisplay-right button{
        width: 130px;
        font-size: 15px;
        padding: 12px 0px;
     }

     .preoductDiaplay-right-category{
        font-size: 16px;
     }
}