.description-Box {
    margin: 120px 170px;
}

.discription-box-navigator {
    display: flex;
}

.descriptionbx-navBox {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #0d0d0d;
}

.descriptionbx-navBox .fade {
    color: #FBFBFB;
    color: #555;
}

.desc-box-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #D0D0D0;
    padding: 48px;
    padding-bottom: 70px;
}


@media(max-width: 1280px){
    .description-Box{
        margin: 60px;
    }
}



@media(max-width: 800px){
    .description-Box{
        margin: 60px 20px;
    }

    .desc-box-description{
        font-size: 14px;
    }
}