.hero {
    height: 100vh;
    background: rgb(29, 4, 4);
    display: flex;

}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #fcfafa;
    font-size: 26px;
    font-weight: 600;
    
}

.hero-left p {
    color: #ffffff;
    font-size: 100px;
    font-weight: 500;
    font-family: "Lora", serif;
}

.haro-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}


.haro-hand-icon img {
    width: 90px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 75px;
    border-radius: 75px;
    margin-top: 30px;
    background: #f94242;
    font-size: 22px;
    color: white;
}

.her-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}